{% extends 'base.html.j2' %}
{% set page_title = 'Contribute to Betty' %}
{% block page_content %}
    <p>
        Betty is <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software#FLOSS">Free and Open Source
        Software</a>, developed by volunteers. There is no official team of developers or maintainers. Instead,
        <strong>anyone</strong> can contribute and all changes are evaluated through peer reviews.
    </p>
    <p>
        If you would like to translate Betty, fix a bug, or build a new feature, head to Betty's
        <a href="https://github.com/bartfeenstra/betty">Github project</a> for the latest source. This source consists
        of code, text files, images, translations, and much more! This means that, depending on your skills or
        availability, you can help make Betty better in many different ways:
    </p>
    <ul>
        <li>
            Add or improve <strong>translations</strong> if you can write in languages other than English. This requires
            no coding skills.
        </li>
        <li>
            Write <strong>documentation</strong> to teach people how to use Betty. This requires no coding skills.
        </li>
        <li>
            Improve the <strong>accessibility</strong>, <strong>UX</strong>, and <strong>design</strong> of the
            front-end. Useful skills are user research, graphic design, HTML, CSS, or JavaScript.
        </li>
        <li>
            <strong>Fix bugs</strong>, or build entire new features. Betty is written in HTML, CSS, JavaScript, Python, Lua, and Bash.
        </li>
    </ul>
    <h2 id="report-bugs">Report bugs</h2>
    <p>
        If you've run into a problem, you can let others know through Betty's
        <a href="https://github.com/bartfeenstra/betty/issues">Github project</a>. Please include the following
        information:
    </p>
    <ul>
        <li>Which version of Betty you are using</li>
        <li>Which Operating System you are using (Mac OS, Windows, or Linux)</li>
        <li>What you were trying to achieve</li>
        <li>What happened instead, and where and when it happened</li>
        <li>The error message, if there was one</li>
    </ul>
    <p>
    Thank you!
    </p>
{% endblock %}
