<!doctype html>
<html lang="en-US">
<head>
    <title>{% if page_title is defined %}{{ page_title | striptags }} - {% endif %}Betty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Bart Feenstra & contributors"/>
    <meta name="og:title" content="{%- if page_title is defined -%}{{ page_title | striptags }}{%- else -%}Betty{%- endif -%}"/>
    <meta name="og:site_name" content="Betty"/>
    <meta name="og:image" content="/betty-512x512.png"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/betty.ico"/>
    <script src="/js/main.js" type="module"></script>
</head>
<body{% if page_class is defined and page_class %} class="{{ page_class }}"{% endif %}>
<script>
    document.body.classList.add('with-js');
</script>
<div id="page">
    <header>
        <nav id="nav-primary">
            <a id="site-title" href="/" title="Lankester & Feenstra ancestries">
                <span class="betty-logo"></span>
                <span class="betty-greeting">Welcome to Betty, my dear</span>
            </a>
            <div id="nav-sections" class="nav-primary-expandable">
                <h2 class="nav-primary-action">Menu</h2>
                <div class="nav-primary-expanded">
                    <ul class="nav-secondary">
                        <li><a href="/">Home</a></li>
                        <li><a href="/install">Download & install</a></li>
                        <li><a href="/contribute">Contribute</a></li>
                        <li><a href="/contribute#report-bugs">Report bugs</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="content">
        <h1{% if page_class is defined and page_class == 'featured-page' %} class="visually-hidden"{% endif %}>{{ page_title }}</h1>
        {% block page_content %}{% endblock %}
    </div>
    <footer>
        <p>
            Copyright Bart Feenstra & contributors
        </p>
        <p>Find Betty on:</p>
        <ul>
            <li><a href="https://github.com/bartfeenstra/betty">Github</a></li>
            <li><a href="https://twitter.com/Betty_Project">Twitter</a></li>
            <li><a href="https://pypi.org/project/betty/">PyPI</a></li>
        </ul>
    </footer>
</div>
</body>
</html>
