{% extends 'base.html.j2' %}
{% set page_title = 'Welcome to Betty, my dears' %}
{% set page_subtitle = 'Betty generates interactive websites from your genealogy family trees' %}
{% set page_class = 'landing-page' %}
{% block page_content %}
    <p>Hi there!</p>
{% endblock %}
