{% extends 'base.html.j2' %}
{% set page_title = 'Download & install Betty' %}
{% block page_content %}
    {% with view_more_path='/release', view_more_label='View all releases' %}
        {% include 'platforms.html.j2' %}
    {% endwith %}
{% endblock %}
