.featured {
    margin: 0 -1rem;
    width: calc(100% + 2rem);
}

.featured-text {
    padding: 1rem;
}

@media (min-width: 768px) {
    .featured-text {
        padding: 1rem 3rem;
    }
}

.featured-column {
    margin: auto;
    width: fit-content;
}

@media (min-width: 1000px) {
    .featured.featured-two-columns {
        display: flex;
        justify-content: center;
    }

    .featured-column {
        align-self: center;
        max-width: 750px;
    }
}
