@import 'variables.css';

html {
    font-size: 1.2em;
    height: 100%;
}

body {
    background-color: #fff;
    color: #333;
    font-family: sans-serif;
    margin: 0;
    min-height: 100%;
    min-width: 300px;
    padding-bottom: 5rem;
    position: relative;
    width: 100%;
}

body > * {
    position: relative;
    z-index: 1;
}

header {
    background-color: pink;
}

header h1 {
    font-size: 2rem;
    text-align: center;
}

header .page-subtitle {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 5rem;
    }

    header .page-subtitle {
        font-size: 2rem;
    }
}
#content {
    background-color: #fff;
    clear: both;
    padding: 0 1rem 3rem 1rem;
    display: inline-block;
    width: calc(100% - 2rem);
}

footer {
    background-color: #fff;
    color: #777;
    margin-top: 5rem;
    padding: 1rem;
}
