@import 'variables.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin-bottom: 0;
}

h1 {
  font-size: 1.8rem;
  font-weight: lighter;
}

h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 3rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: var(--link-inactive-color);
}

a:hover {
  color: var(--link-active-color);
}

dl,
p,
li {
  line-height: 1.5;
}

address {
  display: inline;
  font-style: normal;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #777;
  border-radius: 0.3rem;
  padding: 0 0.3rem;
}

.call-to-action {
  background-color: var(--interaction-inactive-color);
  color: #000;
  display: block;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
}

a.call-to-action {
  width: fit-content;
}

a.call-to-action:hover {
  background-color: var(--interaction-active-color);
}
